/* --- Font, html och body, container ---*/
@font-face{
    font-family: 'Acme';
    src: url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
   /* background-image: url("../images/background.jpeg");*/
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* --- Navigation Bar --- */
nav{
    position: sticky;
    top: 4.5rem;
    width: 100%;
}

nav ul{
    background-color: rgba(0, 0, 111, 0.9);
}

nav li{
    display: inline-block;
}

nav li a{
    display: block;
    color: white;
    padding: 0.9rem 1rem;
    text-decoration: none;
    font-size: larger;
}

nav li a:hover{
    color: #666666;
    outline:none;
    transition: 0.5s;
}

#buySellRadio{
  margin-bottom: 1em;
}

/* --- Div Boxes --- */
.wrapper{
  display:grid;
  grid-gap: 1em;
}

.forms{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.tradingData{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  min-height: 500px;
}

.row > div{
  background-color: rgba(238, 238, 238, 0.8);
  padding:1em
}

.tradingData > div{
  background-color: rgba(238, 238, 238, 0.8);
  padding:1em
}

/* --- Table --- */
table, td, th{
  font-variant: normal;
  border: 1px solid black;
  padding: 0.75rem;
}

table{
    width: 85%;
}

th{
    border-bottom: 2px solid black;
    font-weight: bold;
    text-align: center;
    background-color: #151E3D;
    color: white;
}

tr:hover{
    background-color: #00006f;
    color: white;
    transition: 0.5s;
}

/* --- Form --- */
label[for="form-name"], label[for="form-email"], label[for="form-name"]{
    display: block;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 100%;
}

input[type=text], input[type=number]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
    min-width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: 1px solid black;
    border-radius: 0.2rem;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* --- Headers and Headings and Footer --- */
header{
    position: sticky;
    top: 0;
    width: 100%;
}

h1, h2, h3{
    font-family: 'Acme', cursive;
    font-weight: bold;
    font-variant: small-caps;
}

h1{
    font-size: x-large;
    padding-left: 0.75rem;
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

h2{
    padding-bottom: 0.5rem;
}

footer{
    padding: 0.5rem 0.75rem;
    font-size: 85%;
    font-style: italic;
}

header, footer{
    background-color: rgba(21, 30, 61, 0.95);
    color: #f1f1f1;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
