<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/mall-reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="container" class="wrapper">

    <div id="header">
        <header>
            <h1>Trading Simulator App</h1>
        </header>

        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </div>

    <div id="forms" class="forms">
        <div id="orderForm">
            <h2>Enter Order</h2>
            <form action="#" th:action="@{/matchingEngine}" th:object="${order}" method="post">
                <label>Price: <input type="text" th:field="*{price}"/></label>
                <label>Quantity: <input type="text" th:field="*{quantity}"/></label>
                <p>Order Type</p>
                <li>
                    <ul>
                        <li><label><input type="radio" name="form-setup" value="1" th:field="*{orderType}"> Buy </label>
                        </li>
                        <li><label><input type="radio" name="form-setup" value="2" th:field="*{orderType}"> Sell
                        </label>
                        </li>
                    </ul>
                </li>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>

        <div id="simulationForm">
            <h2>Trade Simulation Settings</h2>
            <form action="#" th:action="@{/matchingEngine}" th:object="${order}" method="post">
                <p>Price: <input type="text" th:field="*{price}"/></p>
                <p>Quantity: <input type="text" th:field="*{quantity}"/></p>
                <p>Order Type</p>
                <li>
                    <ul>
                        <li><label><input type="radio" name="form-setup" value="1" th:field="*{orderType}"> Buy </label>
                        </li>
                        <li><label><input type="radio" name="form-setup" value="2" th:field="*{orderType}"> Sell
                        </label>
                        </li>
                    </ul>
                </li>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </div>

    <div id="tradingData" class="tradingData">
        <div id="bidAsk" class="bidAsk">
            <h2>Order Book</h2>
                <table class=table table-striped>
                    <tr>
                        <th>Order Type</th>
                        <th>Order Id</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    <tr id="buyOrders" th:each="order : ${buyOrders}">
                        <td th:text="BID"></td>
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.price}"></td>
                        <td th:text="${order.quantity}"></td>
                    </tr>
                    <tr id="sellOrders" th:each="order : ${sellOrders}">
                        <td th:text="ASK"></td>
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.price}"></td>
                        <td th:text="${order.quantity}"></td>
                    </tr>
                </table>
        </div>

        <div id="trades">
            <h2>Trades</h2>
            <table class=table table-striped>
                <tr>
                    <th>Price</th>
                    <th>Quanity</th>
                    <th>buyOrderId</th>
                    <th>sellOrderId</th>
                </tr>
                <tr th:each="trade : ${trades}">
                    <td th:text="${trade.price}"></td>
                    <td th:text="${trade.quantity}"></td>
                    <td th:text="${trade.buyOrderId}"></td>
                    <td th:text="${trade.sellOrderId}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="footer">
        <footer>
            <p>Trading Simulation @Copyright Christopher Herron</p>
        </footer>
    </div>

</div>
</body>
</html>
