<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="css/mall-reset.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div class="wrapper" id="container">

    <div id="header">
        <header>
            <h1>Trading Simulator App</h1>
        </header>

        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
            </ul>
        </nav>
    </div>

    <div class="forms" id="forms">
        <div id="orderForm">
            <h2>Create Order</h2>
            <form action="#" method="post" th:action="@{/tradingEngine}" th:object="${order}">
                <p>Order Type</p>
                <li id="buySellRadio">
                    <ul>
                        <li><label><input name="form-setup" th:field="*{orderType}" type="radio" value="1"
                                          checked="checked">Buy</label>
                        </li>
                        <li><label><input name="form-setup" th:field="*{orderType}" type="radio" value="2">Sell</label>
                        </li>
                    </ul>
                </li>
                <label>Price</label>
                <input min="1" placeholder="Enter Price..." th:field="*{price}" type="number"/>
                <label>Quantity</label>
                <input min="1" placeholder="Enter Quantity..." th:field="*{initialQuantity}" type="number"/>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>

        <div id="userInfo">
            <h2>User Orders</h2>
            <div id="openOrderDiv" style="display:block" class="tabcontent">
                <table id="Open" class=table table-striped>
                    <tr>
                        <th>Order Type</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Order Id</th>
                    </tr>
                    <tr id="openOrders" th:each="order : ${openOrders}">
                        <td th:text="${order.orderType} == 1 ? 'BID' : 'ASK'"></td>
                        <td th:text="${order.price}"></td>
                        <td th:text="${order.currentQuantity}"></td>
                        <td th:text="${order.orderId}"></td>
                </table>
            </div>
        </div>

        <div id="simulationForm">
            <h2>Trade Simulation Settings</h2>
            <form action="#" method="post" th:action="@{/tradingEngine}" th:object="${order}">
                <p>Price: <input th:field="*{price}" type="text"/></p>
                <p>Quantity: <input th:field="*{initialQuantity}" type="text"/></p>
                <p>Order Type</p>
                <li>
                    <ul>
                        <li><label><input name="form-setup" th:field="*{orderType}" type="radio" value="1"> Buy </label>
                        </li>
                        <li><label><input name="form-setup" th:field="*{orderType}" type="radio" value="2"> Sell
                        </label>
                        </li>
                    </ul>
                </li>
                <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </div>

    <div class="tradingData" id="tradingData">
        <div class="bidAsk" id="bidAsk">
            <h2>Order Book</h2>
            <table class=bidAskTable table-striped>
                <tr>
                    <th>Order Type</th>
                    <th>Order Id</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
                <tr id="buyOrders" th:each="order : ${buyOrders}">
                    <td th:text="BID"></td>
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.price}"></td>
                    <td th:text="${order.currentQuantity}"></td>
                </tr>
                <tr id="sellOrders" th:each="order : ${sellOrders}">
                    <td th:text="ASK"></td>
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.price}"></td>
                    <td th:text="${order.currentQuantity}"></td>
                </tr>
            </table>
        </div>

        <div id="tradesPlot"></div>

        <div id="trades">
            <h2>Trades</h2>
            <table class=table table-striped>
                <tr>
                    <th>Price</th>
                    <th>Quanity</th>
                    <th>buyOrderId</th>
                    <th>sellOrderId</th>
                </tr>
                <tr th:each="trade : ${trades}">
                    <td th:text="${trade.price}"></td>
                    <td th:text="${trade.quantity}"></td>
                    <td th:text="${trade.buyOrderId}"></td>
                    <td th:text="${trade.sellOrderId}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    $(function(){
    Highcharts.chart('tradesPlot', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'CDAQ'
        },
        subtitle: {
            text: 'Settlement Prices'
        },
        xAxis: {
            categories: [[${tradesGraph.keySet()}]],
            crosshair: true

        },
        yAxis: {
            min: 0,
            title: {
                text: 'Price'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:1">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'CDAQ - Settlement Prices',
            data: [[${tradesGraph.values()}]]
        }]
    });
    });
</script>
</body>
</html>
